.App {
  padding: 30px;
  display: flex;
  background-color: #f8eae1;
  height: 100vh;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 3px  solid gray;
  background-color: #fdf2c5;
  border-radius: 5px;
  padding: 15px;
  height: max-content;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}
.active-filter {
  background-color: aquamarine;
}
.is-done {
  opacity: 0.5;
}